@use '@angular/material' as mat;

@include mat.core();

$lti-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      brand-family: 'Roboto',
      bold-weight: 900,
    ),
    density: (
      scale: 0,
    ),
  )
);

html {
  @include mat.all-component-themes($lti-theme);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
